a:link {
	color: black;
	text-decoration: none;
}
a:visited {
	color: black;
}
.word:hover {
	color: black;
	background: lightgrey;
}
a:active {
	color: black;
}

html {
	font-family : Verdana, Arial, Helvetica, sans-serif;
}

/**
 * Header
 */
#header-wrapper {
  padding: 10px;
}
#header {
	display: flex;
	align-items: center;
}
#header a {
	font-size:20px;
	margin-left: 5px;
	margin-right: 8px;
	font-weight: bold;
}
#header #name {
	padding: 4px 6px;
}
.redStarts {
	background: #FF5C5C;
}
.blueStarts{
	background: #79BACA;
}

#redScore,
#blueScore {
	font-size: 23px;
	flex-grow: 1;
	text-align: center;
}
#redScore {
	color: #FF5C5C;
}
#blueScore{
	color: #79BACA;
}
#spymaster {
	margin-left: 5px;
}

#seed {
	margin-right: 5px;
}

#gameMode {
	margin-left: 5px;
	margin-right: 5px;
}
#reset {
	margin-left: 5px;
	margin-right: 5px;
}
#google_translate_element {
	margin-left: 5px;
	margin-right: 5px;
}

/**
 * Board
 */
#board {
	font-size : 1.4em;
}

button, input, span#first {
	font-size : 1em;
}
button {
  background: #ddd;
  border: 1px solid #999;
}
button:hover {
  background: #eee;
  cursor: pointer;
}
select {
  background: #ddd;
}
#board {
	width: 100%;
  height: calc(100vh - 7vh);
  display: flex;
  flex-wrap: wrap;
}

#board div.word {
	text-align : center;
	cursor : pointer;
	width : 20%;
	height : 20%;
	display : flex;
	align-items: center;
}
#board div.word a {
  display: block;
  width: 100%;
}

.ada {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
 
}


